{% extends "./base.jinja2" %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<h1>{% block title %}Criar Exame{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Criar Exame para a Turma: {{ turma.nome }}</h3>
    <form method="POST" action="{{ url_for('turmas.exames.create', turma_id=turma.id) }}">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                type="text"
                id="nome"
                name="nome"
                placeholder="Digite o nome do Exame"
                required="true"
            />
            <label for="nome" class="form-label">Nome</label>
        </div>
        <div class="form-floating mb-3">
        <div class="mb-3">
            <label for="data_inicio" class="form-label">Data Inicio</label>
            <input
                class="form-control"
                type="datetime-local"
                id="data_inicio"
                name="data_inicio"
                placeholder="Selecione a Data e horario que começa o Exame"
                required="true"
            />
        </div>
        <div class="form-floating mb-3">
        <div class="mb-3">
            <label for="data_fim" class="form-label">Data Fim</label>
            <input
                class="form-control"
                type="datetime-local"
                id="data_fim"
                name="data_fim"
                placeholder="Selecione a Data e horario que termina o exame"
                required="true"
            />
        </div>
        {# questoes Container #}
        <ul class="container" id="questoesContainer" style="list-style-type: none;">
            <h4>Questões</h4>
        </ul>
        <div class="input-group mb-3 w-25">
            <span class="input-group-text">Nota Exame</span>
            <input type="text" name="nota_exame" id="notaExame" class="form-control" value="0.00" readonly>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#questoesModal">Adicionar Questoes</button>
        {# modal #}
        <div class="modal fade" id="questoesModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="modalTitle">Adicionar Questoes</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                    {# content #}
                    {% for questao in questoes_json %}
                        <div class="container">
                            <label>{{ questao.enunciado }}</label>
                            <input type="checkbox" name="questoes" value="{{ questao.id }}" >
                        </div>
                    {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnIncluir">Incluir</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="questoesSelecionadasInput" name="questoes_selecionadas" />
        <button id="submitForm" type="submit" class="btn btn-secondary">Criar Exame</button>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/exameNew.js') }}"></script>
<script type="text/javascript">
    exameNew({{ questoes_json }})
</script>
{% endblock %}