{% extends "./base.jinja2" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block header %}
<h1>{% block title %}Exibir Exame{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h4>{{ exame.nome }}</h4>
    <div>
        <form>
            {% for questao_exame in questoes_exame %}
                <div class="mb-3 card">
                    <div class="card-header">
                        <h5 class="card-title">Questão {{ loop.index }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Valor: {{ questao_exame.nota_questao }}</h6>
                        <p class="card-text">{{ questao_exame.enunciado }}</p>
                    </div>
                    {% if questao_exame.tipo_questao == "multipla_escolha" %}
                            <ul class="list-group list-group-flush">
                                {% for opcao in questao_exame.opcoes %}
                                    <li class="list-group-item">A. {{ opcao.opcao_a }}</li>
                                    <li class="list-group-item">B. {{ opcao.opcao_b }}</li>
                                    {% if opcao.opcao_c %}
                                    <li class="list-group-item">C. {{ opcao.opcao_c }}</li>
                                    {% endif %}
                                    {% if opcao.opcao_d %}
                                    <li class="list-group-item">D. {{ opcao.opcao_d }}</li>
                                    {% endif %}
                                {% endfor %}    
                            </ul>
                    {% endif %}
                    <ul class="list-group">
                        <li class="list-group-item">Respota Correta: {{ questao_exame.resposta }}</li>
                        {% if questao_exame.resposta == questao_exame.resposta_estudante%}
                            <li class="list-group-item list-group-item-success">Respota estudante: {{ questao_exame.resposta_estudante }}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger">Respota estudante: {{ questao_exame.resposta_estudante }}</li>
                        {% endif %}
                    </ul>
                    <div class="card-footer">
                            <p>Nota estudante: {{ questao_exame.nota_estudante_questao }}</p>
                    </div>
                </div>
            {% endfor %}
            {% if current_user.tipo_usuario == "professor" %}
                <button type="submit" id="submitBtn" class="btn btn-secondary">Editar Resultado</button>
            {% endif %}
        </form>
    </div>
<body>
{% endblock %}