{% extends "./base.jinja2" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block header %}
<h1>{% block title %}Exibir Exame{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h4>{{ exame.nome }}</h4>
    {% if current_user.tipo_usuario == "estudante" %}
        <h6 id="tempoRestante">Tempo Restante: </h6>
    {% endif %}
    <div>
        <form id="exameForm" method="POST" action="{{ url_for('turmas.exames.submit', turma_id=turma_id, exame_id=exame.id) }}">
            {% for questao_exame in questoes_exame %}
                <div class="mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Questão {{ loop.index }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Valor: {{ questao_exame.nota_questao }}</h6>
                        <p class="card-text">{{ questao_exame.questao.enunciado }}</p>
                    </div>
                    <div class="card-footer">
                        {% if current_user.tipo_usuario == "professor" %}
                            <div class="mt-3">
                                <strong>Resposta da Questão:</strong>
                                <p>{{ questao_exame.questao.resposta }}</p>
                            </div>
                        {% else %}
                            {% if questao_exame.questao.tipo_questao == "multipla_escolha" %}
                                <ul class="list-group">
                                        <input hidden unique-value checked type="radio" id="questao_id_{{ questao_exame.questao.id }}" 
                                                name="questao_id_{{ questao_exame.questao.id }}" value="">
                                    {% for opcao in questao_exame.questao.opcoes %}
                                        <li class="list-group-item">
                                            <input unique-value class="form-check-input me-1" type="radio" id="questao_id_{{ questao_exame.questao.id }}" 
                                                name="questao_id_{{ questao_exame.questao.id }}" value="A">
                                                <label class="form-check-label" for="opcao_a_{{ loop.index }}">{{ opcao.opcao_a }}</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input unique-value class="form-check-input me-1" type="radio" id="questao_id_{{ questao_exame.questao.id }}" 
                                                name="questao_id_{{ questao_exame.questao.id }}" value="B">
                                                <label class="form-check-label" for="opcao_b_{{ loop.index }}">{{ opcao.opcao_b }}</label>
                                        </li>
                                        {% if opcao.opcao_c %}
                                            <li class="list-group-item">
                                                <input unique-value class="form-check-input me-1" type="radio" id="questao_id_{{ questao_exame.questao.id }}"
                                                    name="questao_id_{{ questao_exame.questao.id }}" value="C">
                                                    <label class="form-check-label" for="opcao_c_{{ loop.index }}">{{ opcao.opcao_c }}</label>
                                            </li>
                                        {% endif %}
                                        {% if opcao.opcao_d %}
                                            <li class="list-group-item">
                                                <input unique-value class="form-check-input me-1" type="radio" id="questao_id_{{ questao_exame.questao.id }}"
                                                    name="questao_id_{{ questao_exame.questao.id }}" value="D">
                                                    <label class="form-check-label" for="opcao_d_{{ loop.index }}">{{ opcao.opcao_d }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% elif questao_exame.questao.tipo_questao == "numerica" %}
                                <input type="text" id="questao_id_{{ questao_exame.questao.id }}" 
                                    name="questao_id_{{ questao_exame.questao.id }}" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                            {% elif questao_exame.questao.tipo_questao == "verdadeiro_falso" %}
                                <select class="form-select" id="questao_id_{{ questao_exame.questao.id }}" name="questao_id_{{ questao_exame.questao.id }}">
                                    <option selected value="">Selecione Verdadeiro ou Falso</option>
                                    <option value="Verdadeiro">Verdadeiro</option>
                                    <option value="Falso">Falso</option>
                                </select>
                            {% else %}
                                <textarea class="form-control" id="questao_id_{{ questao_exame.questao.id }}" 
                                    rows="3" name="questao_id_{{ questao_exame.questao.id }}"></textarea>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if current_user.tipo_usuario == "estudante" %}
                <button type="submit" id="submitBtn" class="btn btn-secondary">Finalizar Prova</button>
            {% endif %}
        </form>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/exameCountDown.js') }}"></script>
    <script type="text/javascript">
        const tipoUsuario = "{{ current_user.tipo_usuario }}"
        if (tipoUsuario == "estudante")
            exameCountDown({{ exame_horario|tojson }})
    </script>
<body>
{% endblock %}