{% extends "./base.jinja2" %}

{% block header %}
<h1>{% block title %}Editar Questão{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Editar Questão (ID: {{ questao.id }})</h3>
    <form method="POST" action="{{ url_for('questoes.edit', user_id=current_user.id, questao_id=questao.id) }}">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                type="text"
                id="enunciado"
                name="enunciado"
                value="{{ questao.enunciado }}"
                required="true"
            />
            <label for="enunciado" class="form-label">Enunciado</label>
        </div>
        {% if questao.tipo_questao != 'dissertativa' %}
            <div class="form-floating mb-3" id="campo_resposta">
                <input
                    class="form-control"
                    type="text"
                    id="resposta"
                    name="resposta"
                    value="{{ questao.resposta }}"
                    required="true"
                />
                <label for="resposta" class="form-label">Resposta</label>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-secondary">Editar Questão</button>
    </form>
{% endblock %}
