{% extends "./base.jinja2" %}

{% block header %}
<h1>{% block title %}Criar Questão{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Criar Questão</h3>
    <form method="POST" action="{{ url_for('questoes.create', user_id=user_id) }}">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                type="text"
                id="enunciado"
                name="enunciado"
                placeholder="Digite o enunciado da questão"
                required="true"
            />
            <label for="enunciado" class="form-label">Enunciado</label>
        </div>

        <div class="form-floating mb-3">
            <h5>Tipo de Questão:</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="numerica" name="tipo_questao" value="numerica" required="true" checked />
                <label class="form-check-label" for="numerica">Numérica</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="multipla_escolha" name="tipo_questao" value="multipla_escolha" required="true" />
                <label class="form-check-label" for="multipla_escolha">Múltipla Escolha</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="dissertativa" name="tipo_questao" value="dissertativa" required="true" />
                <label class="form-check-label" for="dissertativa">Dissertativa</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="verdadeiro_falso" name="tipo_questao" value="verdadeiro_falso" required="true" />
                <label class="form-check-label" for="verdadeiro_falso">Verdadeiro ou Falso</label>
            </div>
        </div>

        <div id="campos_adicionais" style="display: none;">
            <div class="form-floating mb-3">
                <input
                    class="form-control"
                    type="text" 
                    id="opcao_a" 
                    name="opcao_a"/>
                <label for="opcao_a">Opção A:</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    class="form-control"
                    type="text" 
                    id="opcao_b" 
                    name="opcao_b"/>
                <label for="opcao_b">Opção B:</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    class="form-control"
                    type="text" 
                    id="opcao_c" 
                    name="opcao_c"/>
                <label for="opcao_c">Opção C:</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    class="form-control"
                    type="text" 
                    id="opcao_d" 
                    name="opcao_d"/>
                <label for="opcao_d">Opção D:</label>
            </div>
        </div>

        <div class="form-floating mb-3" id="campo_resposta">
            <input
                class="form-control"
                type="text"
                id="resposta"
                name="resposta"
                placeholder="Digite a resposta da questão"
                required="true"/>
            <label for="resposta" class="form-label">Resposta</label>
        </div>
        <button type="submit" class="btn btn-secondary">Criar Questão</button>
    </form>

 <script>
    var multiplaEscolhaBtn = document.getElementById("multipla_escolha");
    var dissertativaBtn = document.getElementById("dissertativa");
    var campoResposta = document.getElementById("campo_resposta");
    var camposAdicionais = document.getElementById("campos_adicionais");

    function exibirCampoResposta() {
        if (dissertativaBtn.checked) {
            campoResposta.style.display = "none";
            campoResposta.querySelector("input").removeAttribute("required");
        } else {
            campoResposta.style.display = "block";
            campoResposta.querySelector("input").setAttribute("required", "true");
        }
    }

    dissertativaBtn.addEventListener("click", exibirCampoResposta);
    dissertativaBtn.addEventListener("change", exibirCampoResposta);

    function exibirCamposAdicionais() {
        if (multiplaEscolhaBtn.checked) {
            camposAdicionais.style.display = "block";
            camposAdicionais.querySelector("input").setAttribute("required", "true");
        } else {
            camposAdicionais.style.display = "none";
            camposAdicionais.querySelectorAll("input").forEach(function(input) {
                input.removeAttribute("required");
            });
        }
    }
    
    multiplaEscolhaBtn.addEventListener("click", exibirCamposAdicionais);
    multiplaEscolhaBtn.addEventListener("change", exibirCamposAdicionais);

    var outrosRadioBtns = document.querySelectorAll('input[name="tipo_questao"]');
    outrosRadioBtns.forEach(function (radio) {
        radio.addEventListener("click", function () {
            if (radio.id === "dissertativa") {
                campoResposta.style.display = "none";  // Oculta o campo de resposta para o botão "dissertativa"
                camposAdicionais.style.display = "none";
            } else {
                exibirCampoResposta();  // Exibe ou oculta o campo de resposta para os outros botões
                exibirCamposAdicionais();  // Exibe ou oculta os campos adicionais para o botão "multipla_escolha"
            }
        });
    });
</script>

{% endblock %}