{% extends "base.jinja2" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/html5-qrcode.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h1>QRCODE</h1>
    <div id="reader" width="600px"></div>
    <div id="error"></div>
    <form id="post-form" method="POST" action="{{ url_for('turmas.aulas.presenca.registrar_presenca', turma_id=turma_id, aula_id=aula_id) }}">
        <input type="hidden" id="qrcode-content" name="qrcode-content" >
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/qrCodeScan.js') }}"></script>
<script type="text/javascript">
    qrCodeScan()
</script>
{% endblock %}
